{% extends "layout.html" %}
<title>Browse Sports</title>
{% block content %}
    <!--cards for dif youtube embeds-->
<div class="container">
    <div class="card-group">
        <div class="card col-md-4">
            <iframe width="600" height="340" src="https://www.youtube.com/embed?listType=user_uploads&list=NFL" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="card col-md-4">
              <iframe width="600" height="340" src="https://www.youtube.com/embed?listType=user_uploads&list=NBA" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="card col-md-4">
            <iframe width="600" height="340" src="https://www.youtube.com/embed?listType=user_uploads&list=NHL" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="card col-md-4">
            <iframe width="600" height="340" src="https://www.youtube.com/embed?listType=user_uploads&list=ussoccerdotcom" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="card col-md-4">
            <iframe width="600" height="340" src="https://www.youtube.com/embed?listType=user_uploads&list=MLB" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock content%}