{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <br>
    <div class="col-4">
        <div class="card-img-top" style="border-radius: 50%;">
            <img class="rounded-circle card-img-top" id="profile_pic" src="{{ image_file }}" alt="profile picture">
        </div>
    </div>
    <br>
    <div class="col-8">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>{{ current_user.username }}</th>
                </tr>
                <tr>
                    <td>{{ current_user.email }}</td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th style="font-size: large;">Favorites List:</th>
                </tr>
                <tr>
                    <th>Player Name</td>
                    <th>Team</td>
                    <th>Sport</td>
                </tr>
                
            </table>
        </div>
    </div>
    <br><br>
    <div class = "btn" style="background: none;">
        <a href="{{ url_for('settings') }}">Edit Profile</a>
    </div>
    <br><br>
</div>
{% endblock content%}