{% extends "layout.html" %}
{% block content %}
<!--download data form: Uses GET and POST request and retrieves season statistics for team/individual-->
<div class="content-section">
    <form method="POST" action="">
        <!--Used for site safety: Don't worry about this part!-->
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Compare Stats of 2 Athletes</legend>
            <!--Dropdown menu for sports-->
            <div class="form-group">
              {{ form.sport.label(class="form-control-label") }}
              {{ form.sport(class="form-control form-control-lg ") }}
            </div>
            <!--Name of first player-->
            <div class="form-group">
                {{ form.player1.label(class="form-control-label") }}
                {% if form.player1.errors %}
                {{ form.player1(class="form-control form-control-lg is-invalid") }}
                <div class = "invalid-feedback">
                    {% for error in form.player1.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.player1(class="form-control form-control-lg ") }}
                {% endif %}
            </div>
            <!--Name of second Player-->
            <div class="form-group">
                {{ form.player2.label(class="form-control-label") }}
                {% if form.player2.errors %}
                {{ form.player2(class="form-control form-control-lg is-invalid") }}
                <div class = "invalid-feedback">
                    {% for error in form.player2.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.player2(class="form-control form-control-lg ") }}
                {% endif %}
            </div>
        </fieldset>
        <!--Submit button-->
        <div class = "form-group" onclick=>
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
<canvas id="myChart" width="400" height="400"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    statnames = {{statnames}};
    pdata = {{pdata}}
    //list1 = {{list1}}
    //premilinary use of getDATA function to insert information from API calls into chart function.
    /*a sync function getData(){

    } */

    chartIt();

function chartIt() {
    //await getData();
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: statnames,
            datasets: [{
                label: 'Percentages',
                data: pdata,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false, YAxisID:"30"
                    }
                }]
            }
        }
    });
}
</script>

{% endblock content%}