{% extends "layout.html" %}
{% block content %}
<!--download data form: Uses GET and POST request and retrieves season statistics for team/individual-->
<div class="content-section">
    <form method="POST" action="">
        <!--Used for site safety: Don't worry about this part!-->
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Compare Stats of 2 Athletes</legend>
            <!--Dropdown menu for sports-->
            <div class="form-group">
              {{ form.sport.label(class="form-control-label") }}
              {{ form.sport(class="form-control form-control-lg ") }}
            </div>
            <!--Name of first player-->
            <div class="form-group">
                {{ form.player1.label(class="form-control-label") }}
                {% if form.player1.errors %}
                {{ form.player1(class="form-control form-control-lg is-invalid") }}
                <div class = "invalid-feedback">
                    {% for error in form.player1.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.player1(class="form-control form-control-lg ") }}
                {% endif %}
            </div>
            <!--Name of second Player-->
            <div class="form-group">
                {{ form.player2.label(class="form-control-label") }}
                {% if form.player2.errors %}
                {{ form.player2(class="form-control form-control-lg is-invalid") }}
                <div class = "invalid-feedback">
                    {% for error in form.player2.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.player2(class="form-control form-control-lg ") }}
                {% endif %}
            </div>
        </fieldset>
        <!--Submit button-->
        <div class = "form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    

    <canvas id="myChart" width="400" height="400"></canvas>
</form>
</div>

<div class="container-fluid">
    <div class="table-responsive">
        {{ tables|safe }}
    </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    bardata = {
        statnames : [
            {% for item in statnames %}
                "{{item}}",
            {%endfor %}
        ]
    }
    console.log({{p2data}})
    console.log(bardata.statnames)
    chartIt()
    //console.log(statnames, pdata)
    //list1 = {{list1}}
    //premilinary use of getDATA function to insert information from API calls into chart function.
    /*a sync function getData(){

    } */


function chartIt() {
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type:'bar',
        data:{
            labels: bardata.statnames,
            datasets:[{
                label:"{{p1name}}",
                data:{{p1data}},
                backgroundColor:"rgba(255, 0, 0)",
                borderColor:"rgba(0, 0, 0)"
            },
            {
                label:"{{p2name}}",
                data:{{p2data}},
                backgroundColor:"rgba(0, 0, 255)",
                borderColor:"rgba(0, 0, 0)"
        }
        ]},
        options:{
            scales:{
                yAxes:[{
                    ticks:{
                        beginAtZero:true
                    }
                }]
            }
        }
    });
}
</script>

{% endblock content%}