{% extends "layout.html" %}
{% block content %}
    <!--download data form: Uses GET and POST request and retrieves season statistics for team/individual-->
    <div class="content-section" onload="defaultSet()">
      <form method="POST" action="">
          <!--Used for site safety: Don't worry about this part!-->
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Download Sports Data</legend>
              <div class="form-group">
                  {{ form.sport_type.label(class="form-control-label") }}
                  {{ form.sport_type(class="form-control form-control-lg ", onchange="togglePlayerList()") }}
              </div>
              <div class="form-group">
                {{ form.sport.label(class="form-control-label") }}
                {{ form.sport(class="form-control form-control-lg ") }}
              </div>
              <div class="form-group" id="yearBox">
                {{ form.season_year.label(class="form-control-label") }}
                {% if form.season_year.errors %}
                {{ form.season_year(class="form-control form-control-lg is-invalid") }}
                <div class = "invalid-feedback">
                    {% for error in form.season_year.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.season_year(class="form-control form-control-lg ") }}
                {% endif %}
            </div>
            <div class="form-group" id="teamList">
                {{ form.team.label(class="form-control-label") }}
                {% if form.team.errors %}
                {{ form.team(class="form-control form-control-lg is-invalid") }}
                <div class = "invalid-feedback">
                    {% for error in form.team.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.team(class="form-control form-control-lg ") }}
                {% endif %}
            </div>
            <div class="form-group" id="playList" style="height: 0; display: none;">
                {{ form.players_list.label(class="form-control-label") }}
                {% if form.players_list.errors %}
                {{ form.players_list(class="form-control form-control-lg is-invalid") }}
                <div class = "invalid-feedback">
                    {% for error in form.players_list.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.players_list(class="form-control form-control-lg ") }}
                {% endif %}
            </div>
          </fieldset>
          <div class = "form-group">
              {{ form.submit(class="btn btn-outline-info") }}
          </div>
      </form>
      <script>
          let sport_select = document.getElementById('sport');
          let year_select = document.getElementById('season_year');
          let team_select = document.getElementById('team');
          let request_type = document.getElementById('sport_type');
          let sport = sport_select.value;
          let year = year_select.value;
          let req = request_type.value;

          year_select.onchange = function(){
              if(sport == 'baseball'){
                fetch('/getmlb/' + year).then(function(response){
                    response.json().then(function(data){
                        let optionHTML = '';
                        for(let teamz of data.teams){
                            //construct html for the dropdown list
                            optionHTML += '<option value="' + teamz.abbr + '">' + teamz.name + '</option>';
                        }
                        //update the document html
                        team_select.innerHTML = optionHTML;
                    });
                });
              }
              else if(sport == 'football'){
                fetch('/getnfl/' + year).then(function(response){
                    response.json().then(function(data){
                        let optionHTML = '';
                        for(let teamz of data.teams){
                            //construct html for the dropdown list
                            optionHTML += '<option value="' + teamz.abbr + '">' + teamz.name + '</option>';
                        }
                        //update the document html
                        team_select.innerHTML = optionHTML;
                    });
                });;
              }
              else if(sport == 'basketball'){
                fetch('/getnba/' + year).then(function(response){
                    response.json().then(function(data){
                        let optionHTML = '';
                        for(let teamz of data.teams){
                            //construct html for the dropdown list
                            optionHTML += '<option value="' + teamz.abbr + '">' + teamz.name + '</option>';
                        }
                        //update the document html
                        team_select.innerHTML = optionHTML;
                    });
                });;
              }
              else{
                fetch('/getnhl/' + year).then(function(response){
                    response.json().then(function(data){
                        let optionHTML = '';
                        for(let teamz of data.teams){
                            //construct html for the dropdown list
                            optionHTML += '<option value="' + teamz.abbr + '">' + teamz.name + '</option>';
                        }
                        //update the document html
                        team_select.innerHTML = optionHTML;
                    });
                });;
              }
          };
      </script>
  </div>
{% endblock content%}