{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <!-- form to add player to favorites table -->
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.sport.label(class="form-control-label") }}
                {% if form.sport.errors %}
                {{ form.sport(class="form-control form-control-lg is-invalid") }}
                <div class = "invalid-feedback">
                    {% for error in form.sport.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.sport(class="form-control form-control-lg ") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.team.label(class="form-control-label") }}
                {% if form.team.errors %}
                {{ form.team(class="form-control form-control-lg is-invalid") }}
                <div class = "invalid-feedback">
                    {% for error in form.team.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.team(class="form-control form-control-lg ") }}
                {% endif %}
            </div>
            <div class="form-group" onload="setNFLTeams()">
                {{ form.p_name.label(class="form-control-label") }}
                {% if form.p_name.errors %}
                {{ form.p_name(class="form-control form-control-lg is-invalid") }}
                <div class = "invalid-feedback">
                    {% for error in form.p_name.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.p_name(class="form-control form-control-lg ") }}
                {% endif %}
            </div>
        </fieldset>
        <div class = "form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    <script>
        let sport_select = document.getElementById('sport');
        let team_select = document.getElementById('team');
        let player_select = document.getElementById('p_name');

        sport_select.onclick = function(){
            fetch('/getAllTeams/' + sport_select.value).then(function(response){
                response.json().then(function(data){
                    let optionHTML = '';
                    //using **of** to iterate over elements instead of keys!
                    for(let teamz of data.teams){
                        optionHTML += '<option value="' + teamz.abbr + '">' + teamz.name + '</option>';
                    }
                    team_select.innerHTML = optionHTML;
                });
            });;
        }

        //populating the players dropdown when the team is selected
        team_select.onclick = function(){
            fetch('/getFavoritePlayers?team=' + team_select.value + '&sport=' + sport_select.value).then(function(response){
                response.json().then(function(data){
                    let playersHTML = '';
                    for(let playz of data.players){
                        playersHTML += '<option value="' + playz.play_id + '">' + playz.play_name + '</option>';
                    }
                    player_select.innerHTML = playersHTML;
                });
            });;
        };
    </script>
    <br><br>
</div>
{% endblock content%}