{% extends "layout.html" %}

<title>Basketball Teams</title>
{% block content %}
<h1>Welcome to the Basketball Hub!</h1>
<div class="container">
    <h5> On this page you can find the latest statistics and news about the NBA.</h5>
    <img src="https://images-na.ssl-images-amazon.com/images/I/51ciAXMo1TL._AC_SY879_.jpg" alt="NBA Logo" style="float:right" height="250px" width="120px">
    <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s; border-radius: 5px; background-color: #507786!important;">
        <a style="color:white;"> Link to NBA Homepage </a>
        <br>
        <a style="color:white;"> Link to the lastest NBA scores </a>
        <br>
        <a style="color:white;"> Link to NBA livestreams </a>
        <br>
        <a style="color:white;"> Link to Draft Kings </a>
        <br>
        <a style="color:white;">  Link to ESPN Fantasy Basketball </a>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <br>
    <form class="example" action="action_page.php" style="padding: 25px 50px 75px 100px;">
        <input type="text" placeholder="Search for Player/Team Stats" name="search" style="padding: 10px;font-size: 17px;border: 1px solid grey;float: left;width: 80%;background: #f1f1f1;">
        <button type="submit" style="background: #0b7dda;float: left;width: 20%;padding: 10px;background: #2196F3;color: white;font-size: 17px;border: 1px solid grey;border-left: none;"><i class="fa fa-search"></i></button>
    </form>
    <br>
    <br>
    <div class="row">
        <div class="column" style="float: left;width: 50%;padding: 10px;height: 300px;background-color:#aaa;">
            <h3>Top Players</h3>
        </div>
        <div class="column" style="float: left;width: 50%;padding: 10px;height: 300px;background-color:#bbb;">
            <h3>Top Teams</h3>
        </div>
    </div>
</div>

{% endblock content%}
