{% extends "layout.html" %}
{% block content %}
    <h1>Welcome to Sports Stats Master</h1>
    <!--Here is how to iterate through data that is passed to this html webpage: uses templating engine-->
    {% if current_user.is_authenticated %}
        {% for genData in posts %}
            <article class="media content-section">
                <div class="media-body">
                <div class="article-metadata">
                    <div>
                        <a class="mr-2" style="color: rgb(4, 4, 8); pointer-events: none; cursor: default;">{{ genData.title }}</a>
                        <small class="text-muted">{{ genData.date }}</small>
                    </div>
                </div>
                <h2>
                    <p class="h5">Redownload/View Data CSV: {{ genData.fileName }}</a>
                    <div class="container-fluid">
                        <div class="row">
                            <!--<meta id="fN" data-name="{{ genData.fileName }}">-->
                            <!--{% set fNVal = genData.fileName ~ '_download' %}-->
                            <!--{% set fNVal2 = genData.fileName ~ '_view' %}   id="{{fNVal}}"-->
                            <button type="button" class="btn btn-primary btn-sm mr-1" onclick="callGetFile('{{genData.fileName}}')">Redownload Data</button>
                            <button type="button" class="btn btn-primary btn-sm" onclick="displayTableData('{{genData.fileName}}')">View Data</button>
                        </div>
                    </div>
                </h2>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <div>
                    <a class="mr-2" style="color: rgb(4, 4, 8); pointer-events: none; cursor: default;">See Your Generated Files Here!</a>
                </div>
            </div>
            <h2>
                <p class="h5">Log in to see previously generated charts/downloaded data!</a>
            </h2>
            </div>
        </article>
    {% endif %}
{% endblock content%}