{% extends "layout.html" %}

<title>Other Sports</title>
{% block content %}
<h1 style="text-align: center">Welcome to the "Other Sports" Page!</h1>
<div class="container">
    <h5 style="text-align: center"> On this page you can find links to other sports websites including NCAA, USTA, PGA Tour, ICC, Rugby, UFC, and NASCAR.</h5>
</div>
<div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); transition: 0.3s; border-radius: 5px; background-color: #507786!important;">
        <a style="color:white;" href="https://www.ncaa.com/"> Link to National Collegiate Athletic Association Homepage </a>
        <br>
        <a style="color:white;" href="https://www.usta.com/en/home.html"> Link to US Tennis Association Homepage </a>
        <br>
        <a style="color:white;" href="https://www.pgatour.com/"> Link to Professional Golf Association Tour Homepage </a>
        <br>
        <a style="color:white;" href="https://www.icc-cricket.com/"> Link to International Cricket Council Homepage </a>
        <br>
        <a style="color:white;" href="https://www.rugbyworldcup.com/"> Link to Rugby World Cup Homepage </a>
        <br>
        <a style="color:white;" href="https://www.ufc.com/"> Link to Ultimate Fighting Champion Homepage </a>
        <br>
        <a style="color:white;" href="https://www.nascar.com/"> Link to National Association for Stock Car Auto Racing Homepage </a>
        <br>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock content%}
