{% extends "layout.html" %}
<title>Browse Sports</title>
{% block content %}
    <!-- dif youtube embeds- maybe they don't need to be in cards?- really ugly and def needs some fixing-->
    <div class="container">
        <h1>Latest Sports Videos from Youtube</h1>
        <br><br>
        <div class="row">
            <div class="column">
                <div class="card">
                    <iframe width="336" height="189" src="https://www.youtube.com/embed?listType=user_uploads&list=NFL" frameborder="0" allowfullscreen></iframe>
                    <div class="card-body">
                        Latest video from the NFL
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                      <iframe width="336" height="189" src="https://www.youtube.com/embed?listType=user_uploads&list=NBA" frameborder="0" allowfullscreen></iframe>
                      <div class="card-body">
                        Latest video from the NBA
                      </div>
                </div>
            </div>
        </div><br><br>
        <div class="row">
            <div class="column">
                <div class="card">
                    <iframe width="336" height="189" src="https://www.youtube.com/embed?listType=user_uploads&list=NHLVideo" frameborder="0" allowfullscreen></iframe>
                    <div class="card-body">
                        Latest video from the NHL
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <iframe width="336" height="189" src="https://www.youtube.com/embed?listType=user_uploads&list=ussoccerdotcom" frameborder="0" allowfullscreen></iframe>
                    <div class="card-body">
                        Latest video from US Soccer
                    </div>
                </div>
            </div>
        </div><br><br>
        <div class="row">
            <div class="column">
                <div class="card">
                    <iframe width="336" height="189" src="https://www.youtube.com/embed?listType=user_uploads&list=MLB" frameborder="0" allowfullscreen></iframe>
                    <div class="card-body">
                        Latest videos from MLB
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <iframe width="336" height="189" src="https://www.youtube.com/embed/videoseries?list=PL4Yp_5ExVAU0W71_e5qQmRiIHmE1rdQFu" frameborder="0" allowfullscreen></iframe>
                    <div class="card-body">
                        Top Stories from YouTube Sports
                    </div>
                </div>
            </div>
        </div><br><br>
    </div>
{% endblock content%}