{% extends "layout.html" %}
<title>Browse Sports</title>
{% block content %}
<style>
    .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 350px;
    margin: 0 auto; 
    align-items: center;
    text-align: center;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
</style>
    <div class="container" style="background-color: ghostwhite;" >
        <h1 style="text-align: center;">Latest Sports Videos from Youtube</h1>
        <br><br>
        <div class="row">
            <div class="column">
                <div class="card">
                    <iframe src="https://www.youtube.com/embed?listType=user_uploads&list=NFL" width="336" height="189"  frameborder="0" allowfullscreen></iframe>
                    <div class="container-fluid" style="align-content: center;" style="width: auto;" class="card-body">
                        <br>
                        <h4 style="text-align: center;"><b>
                            Latest video from NFL
                            </b>
                        <br>
                        <a href="https://www.youtube.com/user/NFL" style="text-align: center; font-size: small;">More Videos From The NFL</a> 
                        </h4>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <iframe src="https://www.youtube.com/embed?listType=user_uploads&list=NBA" width="336" height="189"  frameborder="0" allowfullscreen></iframe>
                    <div class="container-fluid" style="align-content: center;" style="width: auto;" class="card-body">
                        <br>
                        <h4 style="text-align: center;"><b>
                            Latest video from NBA
                        </b>
                        <br>
                        <a href="https://www.youtube.com/user/NBA" style="text-align: center; font-size: small;">More Videos From The NBA</a> 
                        </h4>
                    </div>
                </div>
            </div>
        </div><br><br>
        <div class="row">
            <div class="column">
                <div class="card">
                    <iframe src="https://www.youtube.com/embed?listType=user_uploads&list=NHLVideo" width="336" height="189"  frameborder="0" allowfullscreen></iframe>
                    <div class="container-fluid" style="align-content: center;" style="width: auto;" class="card-body">
                        <br>
                        <h4 style="text-align: center;"><b>
                            Latest video from NHL
                        </b>
                        <br>
                        <a href="https://www.youtube.com/user/NHLVideo" style="text-align: center; font-size: small;">More Videos From The NHL</a> 
                        </h4>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <iframe src="https://www.youtube.com/embed?listType=user_uploads&list=ussoccerdotcom" width="336" height="189"  frameborder="0" allowfullscreen></iframe>
                    <div class="container-fluid" style="align-content: center;" style="width: auto;" class="card-body">
                        <br>
                        <h4 style="text-align: center;"><b>
                            Latest video from US Soccer
                        </b>
                        <br>
                        <a href="https://www.youtube.com/user/ussoccerdotcom" style="text-align: center; font-size: small;">More Videos From US Soccer</a> 
                        </h4>
                    </div>
                </div>
            </div>
        </div><br><br>
        <div class="row">
            <div class="column">
                <div class="card">
                    <iframe src="https://www.youtube.com/embed?listType=user_uploads&list=MLB" width="336" height="189"  frameborder="0" allowfullscreen></iframe>
                    <div class="container-fluid" style="align-content: center;" style="width: auto;" class="card-body">
                        <br>
                        <h4 style="text-align: center;"><b>
                            Latest video from MLB
                        </b>
                        <br>
                        <a href="https://www.youtube.com/user/MLB" style="text-align: center; font-size: small;">More Videos The MLB</a> 
                        </h4>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <iframe src="https://www.youtube.com/embed/videoseries?list=PL4Yp_5ExVAU0W71_e5qQmRiIHmE1rdQFu" width="336" height="189"  frameborder="0" allowfullscreen></iframe>
                    <div class="container-fluid" style="align-content: center;" style="width: auto;" class="card-body">
                        <br>
                        <h4 style="text-align: center;"><b>
                            Top Stories: Youtube Sports
                        </b>
                        <br>
                        <a href="https://www.youtube.com/channel/UCEgdi0XIXXZ-qJOFPf4JSKw" style="text-align: center; font-size: small;">More Youtube Sports Videos</a> 
                        </h4>
                    </div>
                </div>
            </div>
        </div><br><br>
    </div>
{% endblock content%}